/*body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 940px;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}*/

*
{
    box-sizing: border-box;
}

body
{
    margin: 0;
    padding: 0;
    background-color:#eeeeeeb9;
}

.content
{
    display: flex;
    flex-direction:column;
    height: 100vh; 

}

.header
{
    display: flex;
    align-items: center;
    background-color: #22ddc0;
    height:6%;
    padding-left: 10px;
}

.chat
{
    display: flex;
    flex-direction:row;
    height:80%;
    margin-top: 4px;
}

.output
{
    width: 70%;
    height: 100%;
    border: #7a7676 solid 4px;
    margin-left: 30px;
    background-color: white;
    overflow: scroll;
}
.form
{
    display: flex;
    flex-direction: column;
    background-color: #22ddc0;
    width: 30%;
    height:100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    margin-left: 10px;
}

input[type="text"] 
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.last
{
    border-bottom:solid 2px black;
    margin-bottom: 5px;
}

#modal 
{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 85%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: #7a7676 solid 8px;
    min-width: 350px;
    min-height: 150px;
    background-color: white;
}

.modal_header
{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    font-size: 26px;
}

#mensajeError
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
